[Container]
ContainerName=qbittorrent
Image=docker.io/qbittorrentofficial/qbittorrent-nox:latest
AutoUpdate=registry

PublishPort=9000:9000
PublishPort=41240:41240/tcp
PublishPort=41240:41240/udp

Environment=PUID=0 PGID=0
Environment=QBT_LEGAL_NOTICE=confirm
Environment=QBT_TORRENTING_PORT=41240
Environment=QBT_WEBUI_PORT=9000

Tmpfs=/tmp
User=0
Group=0
StopTimeout=1800

[Service]
Restart=always

[Install]
WantedBy=default.target
