[Container]
ContainerName=joplin-server
Pod=joplin.pod
Image=docker.io/joplin/server:latest

Environment=APP_PORT=22300
Environment=APP_BASE_URL=${APP_BASE_URL}
Environment=DB_CLIENT=pg
Environment=POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
Environment=POSTGRES_DATABASE=${POSTGRES_DATABASE}
Environment=POSTGRES_USER=${POSTGRES_USER}
Environment=POSTGRES_HOST=joplin-db
Environment=TRANSCRIBE_ENABLED=false

StopTimeout=1800

[Service]
EnvironmentFile=%E/containers/systemd/joplin/.env