[Container]
ContainerName=stirling-pdf
Image=docker.io/stirlingtools/stirling-pdf:latest-fat
PublishPort=8080:8080

Environment=SECURITY_ENABLELOGIN=false
Volume=sterling-config.volume:/configs

[Service]
Restart=on-failure

[Install]
WantedBy=default.target