[Unit]
Requires=miniflux-db.container
After=miniflux-db.container

[Container]
ContainerName=miniflux
Pod=miniflux.pod
Image=docker.io/miniflux/miniflux:latest

Environment=DATABASE_URL=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}?sslmode=disable
Environment=RUN_MIGRATIONS=1

Environment=CREATE_ADMIN=1
Environment=ADMIN_USERNAME=${ADMIN_USERNAME}
Environment=ADMIN_PASSWORD=${ADMIN_PASSWORD}

[Service]
EnvironmentFile=%E/containers/systemd/miniflux.env.defaults
EnvironmentFile=-%E/containers/systemd/miniflux.env
