[Container]
ContainerName=linkace-app
Pod=linkace.pod
Image=docker.io/linkace/linkace:latest


EnvironmentFile=%E/containers/systemd/linkace.env.defaults
EnvironmentFile=%E/containers/systemd/linkace.env
